<footer class="bg-dark text-light" >
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>Copyright</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
                    (c) Ivanov V., 2020
                </p>
            </div>
        </div>
    </div>
</footer>

