{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">NUMBER SORTER</h1>
            <p class="lead text-muted mb-0">This site is designed to sort numbers uploaded via file</p>
        </div>
    </section>

    <div class="container">
        <div class="row" style="margin-top: 5%; margin-bottom: 5%">
            <div class="col-md-8">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_ul }}
                    <input type="submit" class="btn btn-primary" value="Submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}