{% extends 'base.html' %}
{% block title %} Record {% endblock %}
{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">SORT RESULTS</h1>
            <p class="lead text-muted mb-0">Short results of sorting</p>
        </div>
    </section>

    <form>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Sort type</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" readonly>
            {{sorting_record.sorting_type}}
        </textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Number of numbers</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" readonly>
            {{ sorting_record.list_length }}
        </textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Sort execution time</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" readonly>
            {{ sorting_record.execution_time }} ms
        </textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Source list of integers</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" readonly>
            {{ sorting_record.source_list }}
        </textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Sorted list of integers</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" readonly>
            {{ sorting_record.sorted_list }}
        </textarea>
      </div>
    </form>
{% endblock %}